* {
    margin: 0;
    padding: 0;
  }
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

.sectionA{
    background-color: white;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.sectionB{
    background-color: #121212;
    color: white;
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 75px;
}
@media only screen and (max-width: 800px) {
    .sectionB {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.sectionC{
    background-color: white;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 30px;
}

.profilePicture {
    background-image: url("https://avatars2.githubusercontent.com/u/38672170?s=460&u=5fa33811b98407e0089bca6ea1121a8fb1519e84&v=4");
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    border: 5px solid #383838;
    margin-left: auto !important;
    margin-right: auto !important;
}

.sectionA-container {
    color: #383838;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
}


.sectionA-container h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

.sectionA-container h3 {
    font-size: 1.3em;
}
.sectionA-container hr {
    width: 100%;
    height: 2px;
    border-width: 0;
    color: #383838;
    background-color: #383838;
}
@media only screen and (max-width: 600px) {
    .profilePicture {
      width: 200px;
      height: 200px;
    }
    .sectionA-container {
        margin-right: 20px;
        margin-left: 20px;
    }

  }
.icon-container {
    display: inline;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-container button{
  width: 30%;
  background-color:white;
  border: none;
  color: #353535;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-container button:hover {
    background-color: #d1d1d1;
}
.icon-container button:focus { outline: none; }

.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    position:absolute;
    margin-top: 50px;
}

.navBar a {
    padding: 15px;
    font-size: 2em;
    color: #535353;
    text-decoration: none;
}

.navBar a:hover {
    color: #242424;
    background-color: #d1d1d1;
}
@media only screen and (max-width: 600px) {
    .navBar {
        position: static;
        margin-top: 20px;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.card {
    background-color: #242424;
    box-shadow: 0 1px 10px #050505;
    border-radius: 10px 10px 0 0;
    flex: 0 0 48%;
    margin: 1%;
    margin-bottom: 20px;
    transition: 0.3s;
    position: relative;
}

.card:hover {
    box-shadow: 0 20px 20px #050505;
}

@media only screen and (max-width: 800px) {
    .card {
        flex: 0 1 100%;
        max-width: 100%;
    }
}
.card a {
    padding: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #383838;
    position: absolute;
    bottom: 0;
}
.card a:hover {
    background-color: #535353;
}


.card img{
    object-fit:cover;
    border-radius:  10px 10px 0 0;
    width: 100%;
    height: 300px;
}

.card .text-container {
    padding: 15px;
    margin-bottom: 50px;
}