---
layout: default
permalink: /
---

<div class="sectionA">
    <div class="sectionA-container">
      <div class="profilePicture"></div>
      <h1>Aidan Johnston</h1>
      <p>Software Engineering Student</p>
      <hr>
      <div class="icon-container">
        <button>Github</button>
        <button>LinkedIn</button>
        <button>Twitter</button>
      </div>
    </div>
</div>
<div class="sectionB">
    <h1>Projects</h1>
    <div class="card-container">
        {% for post in site.posts %}
        <div class="card">
          <h2>{{ post.title }}</h2>
          <div class="tag-container">
            {% for tag in post.tags%}
            <div class="tag">
              <p>{{ tag }}</p>
            </div>
            {% endfor %}
          </div>
          <p>{{ post.excerpt }}</p>
          <a href="{{ post.url }}">See Project</a>
        </div>
        {% endfor %}
    </div>
  </div>
