* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "tf2secondary";
    src: url('../fonts/TF2secondary.ttf');
}

:root {
  --bg_h: #1d2021;
  --bg:   #282828;
  --bg_s: #32302f;
  --bg1:  #3c3836;
  --bg2:  #504945;
  --bg3:  #665c54;
  --bg4:  #7c6f64;

  --fg:  #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red:    #fb4934;
  --green:  #b8bb26;
  --yellow: #fabd2f;
  --blue:   #83a598;
  --purple: #d3869b;
  --aqua:   #8ec07c;
  --gray:   #928374;
  --orange: #fe8019;

  --red-dim:    #cc2412;
  --green-dim:  #98971a;
  --yellow-dim: #d79921;
  --blue-dim:   #458588;
  --purple-dim: #b16286;
  --aqua-dim:   #689d6a;
  --gray-dim:   #a89984;
  --orange-dim: #d65d0e;
}

/* Normal Colors */

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.aqua {
  color: var(--aqua);
}

.gray {
  color: var(--gray);
}

.orange {
  color: var(--orange);
}

/* Dim Colors */

.red-dim {
  color: var(--red-dim);
}

.green-dim {
  color: var(--green-dim);
}

.yellow-dim {
  color: var(--yellow-dim);
}

.blue-dim {
  color: var(--blue-dim);
}

.purple-dim {
  color: var(--purple-dim);
}

.aqua-dim {
  color: var(--aqua-dim);
}

.gray-dim {
  color: var(--gray-dim);
}

.orange-dim {
  color: var(--orange-dim);
}

/* Foreground Colors */

.fg {
  color: var(--fg);
}

.fg1 {
  color: var(--fg1);
}

.fg2 {
  color: var(--fg2);
}

.fg3 {
  color: var(--fg3);
}

.fg4 {
  color: var(--fg4);
}

/* Background Colors */

.bg-hard {
  color: var(--bg_h);
}

.bg {
  color: var(--bg);
}

.bg-soft {
  color: var(--bg_s);
}

.bg1 {
  color: var(--bg1);
}

.bg2 {
  color: var(--bg2);
}

.bg3 {
  color: var(--bg3);
}

.bg4 {
  color: var(--bg4);
}

html {
    scroll-behavior: smooth;
    overscroll-behavior: none
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
}

.sectionA {
    height: 100vh;
    background-color: var(--bg);
    color: var(--fg);
}

.sectionB {
    background-color: var(--bg_h);
    color: var(--fg);
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
}

.sectionC {
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px;
    color: var(--fg);
    background-color: var(--bg);
}

.sectionC p {
    font-size: 1.3em;
}

@media only screen and (max-width: 1200px) {
    .sectionC {
        padding-left: 10%;
        padding-right: 10%
    }
}

.navBar {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--bg1);
    box-shadow: 0px 25px 0px var(--bg_h);
}

.navBar a {
    padding: 15px;
    font-size: 2em;
    color: var(--fg1);
    text-decoration: none;
}

.navBar a:hover {
    text-decoration: underline;
}

.navBar a:first-child {
    transition: all 0.5s;
    position: relative;
    transform: translateX(0%);
}

.navHero {
    transform: translateX(-100%);
}


@media only screen and (max-width: 600px) {
    .navBar {
        position: static;
        margin-top: 20px;
    }
}

.profileCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2em;
}

.profileCard h1{
  transition: all 0.5s;
  font-size: 4em;
  text-align: center;
  font-family: "Meta", sans-serif;
  cursor: default;
  text-shadow: none;
}

.profileCard h1:hover {
  text-shadow: 10px 10px 0px var(--green-dim),
    10px 10px 0px var(--orange-dim),
    15px 15px 0px var(--purple-dim),
    20px 20px 0px var(--red-dim),
    25px 25px 1px var(--yellow-dim);
}

.navBar {
    position: -webkit-sticky;
	position: sticky;
    top: 0;
    z-index: 100;
}

.socials {
    display: flex;
    overflow: warp;
    justify-content: center;
    font-size: 1.5em;
}

.socials a {
    font: bold;
    margin: 8px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.sectionD {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg3);
    color: var(--fg);
    padding-bottom: 30px;
    bottom: 0;
}

.sectionD p {
    color: var(--fg);
    font: bold;
    margin-right: 10px;
}

.sectionD a {
  color: var(--bg4);
  text-decoration: none;
}

.sectionD a:hover {
  text-decoration: underline;
}

.tf2 {
  cursor: pointer;
  font-family: 'tf2secondary';
  text-shadow: 1px 1px 0px var(--fg);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.card {
    background-color: var(--bg);
    flex: 0 1 100%;
    margin-bottom: 20px;
    transition: 0.3s;
    box-sizing: content-box;
    display: inline-block;
    padding: 15px;
    border-radius: 18px;
}

.movies-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.movies-container a {
    font-size: larger;
    text-align: center;
    text-decoration: none;
    color: var(--fg);
}
.movies-container a:hover {
    text-decoration: underline;
}

.movie-card {
    position: relative;
    width: 250px;
    height: 325px;
    background: linear-gradient(90deg, var(--bg1), var(--bg2));
    background-size: 400%, 400%;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    margin-bottom: 1.5em;
    -webkit-animation: gradient 1s ease infinite;
    -moz-animation: gradient 1s ease infinite;
    animation: gradient 1s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.movie-card img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    cursor: pointer;
}
.movie-card a {
    text-decoration: none;
}



.movie-card img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
    .card {
        flex: 0 1 100%;
        max-width: 100%;
    }
}

.card a {
    color: var(--fg);
    text-decoration: none;
    cursor: pointer;
}

.card a:hover {
    text-decoration: underline;
}

.tag-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-container p {
    background-color: var(--bg4);
    color: white;
    margin: 5px;
    border-radius: 3px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em !important;
}

.card img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
}

.sectionD {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    width: 100%;
}

.sectionD p {
    color: white;
    font: bold;
    margin-right: 10px;
}

.sectionF {
    color: white;
}

.link {
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    margin: 10px;
    cursor: pointer;
}

.link .span {
    float: right;
    width: 1.2em;
    height: 1.2em;
    margin: 5px;
}

.link.github {
    background-color: #353535;
}

.link.github:hover {
    background-color: #242424;
}


.link.colab {
    background-color: #faab00;
}

.link.colab:hover {
    background-color: #b87d00;
}

.link.site {
    background-color: #1450aa;
}

.link.site:hover {
    background-color: #0c336e;
}

.link.colab.icon {
    background: url(/assets/img/GitHub-Mark-Light-120px-plus.png) no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.socials {
    display: flex;
    overflow: warp;
    justify-content: center;
    font-size: 2em;
}

.socials a {
    font: bold;
    margin: 8px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.sectionAContainer {
    display: flex;
    flex-direction: row;
}

.profileCardRight {
    background-color: #242424;
    color: white;
    padding: 70px;
    width: 60%;
}

.profileCardLeft {
    padding: 70px;
    width: 60%;
}

iframe{
    width: min(580px, 100%);
    height: 310px;
    align-self: center;
}

.viewmore {
    margin: 2px;
    border-radius: 3px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-dim);
    color: var(--bg);
    width: 25%;
}

@media only screen and (max-width: 700px) {
    .viewmore {
        width: auto;
    }
}

.viewmore:hover {
    background-color: var(--yellow);
}