* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    height: 100%;
}

.sectionA {
    height: 100vh;
}

.profilePicture {
    background-image: url("https://avatars2.githubusercontent.com/u/38672170?s=460&u=5fa33811b98407e0089bca6ea1121a8fb1519e84&v=4");
    width: 20em;
    height: 20em;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: #121212 solid 5px;
}

.profileCard {
    width: 20em;
    height: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sectionB {
    background-color: #121212;
    color: white;
    padding-top: 30px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    .sectionB {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.sectionC {
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    .sectionC {
        padding-left: 5%;
        padding-right: 5%
    }
}

.navBar {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    flex-wrap: wrap;
}

.navBar a {
    padding: 15px;
    font-size: 2em;
    color: #242424;
    text-decoration: none;
}

.navBar a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .navBar {
        position: static;
        margin-top: 20px;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #242424;
    box-shadow: 0 1px 10px #050505;
    flex: 0 0 65%;
    margin-bottom: 20px;
    transition: 0.3s;
    box-sizing: content-box;
    display: inline-block;
    padding: 15px;
}

.card:hover {
    box-shadow: 0 20px 20px #050505;
}

@media only screen and (max-width: 800px) {
    .card {
        flex: 0 1 100%;
        max-width: 100%;
    }
}

.card a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.card a:hover {
    text-decoration: underline;
}

.tag-container {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-container p {
    background-color: #383838;
    color: white;
    margin: 10px;
    border-radius: 3px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em !important;
}

.card img {
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 300px;
}

.sectionD {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    bottom: 0;
    width: 100%;
}

.sectionD p {
    color: white;
    font: bold;
    margin-right: 10px;
}

.sectionF {
    color: white;
}

.link {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.link .span {
    float: left;
    width: 20px;
    height: 20px;
}

.link.github {
    background-color: #353535;
}

.link.github:hover {
    background-color: #242424;
}

.link.github.icon {
    background: url(/assets/img/GitHub-Mark-Light-120px-plus.png) no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px
}

.link.colab {
    background-color: #faab00;
}

.link.colab:hover {
    background-color: #b87d00;
}

.link.colab.icon {
    background: url(/assets/img/GitHub-Mark-Light-120px-plus.png) no-repeat;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.socials {
    display: flex;
    overflow: warp;
    justify-content: center;
}

.socials a {
    font: bold;
    font-size: 1.5em;
    margin: 6px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.sectionAContainer {
    display: flex;
    flex-direction: row;
}

.profileCardRight {
    background-color: #242424;
    color: white;
    padding: 70px;
    width: 60%;
}

.profileCardLeft {
    padding: 70px;
    width: 60%;
}

iframe{
    width: min(580px, 100%);
    height: 310px;
    align-self: center;
}