---
title: Aidan Johnston
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Originally from Thunder Bay Ontario, Aidan (he/him) has recently completed his Bachelor of Engineering in Software Engineering at Lakehead University.  Aidan’s interests include developing new fighting video games and learning about new technologies. Aidan is also interested in machine learning and reinforcement learning for AI. Aidan recently presented at Lakehead’s Research and Innovation Week where he presented his work and research on deep reinforcement learning in video games that examined new ways to create an AI based fighting game.">
    <link rel="stylesheet" href="\assets\css\master.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Aidan Johnston</title>
</head>
<body>
    {{ content }}
    {% include footer.html %}
</body>
</html>