---
layout: page
---
<h1>{{ page.title }}</h1>
<p>Date: {{ page.date | date_to_string }}</p>       
<div class="tag-container">
    {% for tag in page.tags%}
        <p>{{ tag }}</p>
    {% endfor %}
</div>

<hr>
</h1>

{% if page.sitelink %}
<a class="link site" href='{{ page.sitelink }}' target="_blank">See Live Demo<span class="fa fa-external-link"></span></a>
{% endif %}

{% if page.category == "github" %}
<a class="link github" href='{{ page.gitlink }}' target="_blank">See on Github<span class="fa fa-external-link"></span></a>
{% endif%}

{% if page.category == "colab" %}
<a class="link colab" href='{{ page.link }}' target="_blank">See on Google Colab<span class=" fa fa-external-link"></span></a>
{% endif %}

<div class="markdown-body">
    {{ content }}
</div>
