---
layout: page
---
<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }}</p>
<div class="tag-container">
    {% for tag in page.tags%}
        <p>{{ tag }}</p>
    {% endfor %}
</div>

<hr>
</h1>
{% if page.category == "github" %}
<button class="link github" onclick="location.href='{{ page.link }}'" type="button"><span class="icon"></span>See on Github</button>
{% endif%}

{% if page.category == "colab" %}
<button class="link colab" onclick="location.href='{{ page.link }}'" type="button"><span class="icon"></span>See on Google Colab</button>
{% endif %}

<div class="markdown-body">
    {{ content }}
</div>

{% if page.category == "github" %}
<button class="link github" onclick="location.href='{{ page.link }}'" type="button"><span class="icon"></span>See on Github</button>
{% endif%}

{% if page.category == "colab" %}
<button class="link colab" onclick="location.href='{{ page.link }}'" type="button"><span class="icon"></span>See on Google Colab</button>
{% endif %}
